---
type: archive
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!-- start posts-->
        <h2>Blogposts about {{ page.title }}:</h2>

        {% unless page.title == 'Archive' %}
            {% if page.month %}
                {% include archive_month.html %}
            {% elsif page.year %}
                {% include archive_year.html %}
            {% elsif page.tag %}
                {% include archive_tag.html %}
            {% endif %}
        {% endunless %}        

        <!-- end posts-->
          {% if page.comments %}
          <div class="disqus-comments">
              {% include disqus.html %}
          </div>
              {% include fb-comment.html %}
          <div class="staticman-comments">
            {% include staticman-comments.html %}
          </div>
          {% endif %}
      </div>
    </div>
  </div>